NODE_ENV=development
PORT=3197

NODE_OPTIONS=--dns-result-order=ipv4first

JWT_SECRET=chat_app_super_secret_2026

DATABASE_URL=postgresql://neondb_owner:npg_hVQ3Kj1SnmTL@ep-wandering-snow-a1t4hy9t.ap-southeast-1.aws.neon.tech/neondb?sslmode=require

